.main-wrapper-footer {
    margin-top: 10px;
    min-height: 5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    background-color: rgb(247, 70, 46);
}

.sub-wrapper-footer {
    display: flex;
    align-items: center;
    gap: 1em;
    color: white;
}

.seccond-footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    min-height: 20em;
}

.footer-secconde-btn {
    display: flex;
    margin-top: 6em;
    gap: 1em;
}

.footer-img-div-main-wrapper {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.footer-img-div {
    display: flex;
    align-items: center;
    border: 1px solid rgb(88, 88, 92);
    padding: 5px;
    width: 250px;
    border-radius: 5px;
}

.footer-img-div a {
    color: rgb(53, 52, 52);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.1rem;
    font-weight: bold;
}

.footer-details-div h2 {
    margin-bottom: 10px;
}

.footer-details-div a {
    text-decoration: none;
    line-height: 30px;
    color: rgb(133, 132, 130);
    font-size: 1.3rem;
}

.footer-details-div p {
    font-size: 1.3rem;
    color: rgb(133, 132, 130);
}